.results-view-list {
  padding-left: 14px;

  &.ng-enter {
    transition: .3s;
    opacity: 0;
  }
  &.ng-enter-active {
    opacity: 1;
  }
}

.results-view-item {
  padding: 0px;

  &:hover {
    background: rgb(227, 237, 238);
    animation: move-left .3s forwards;
  }

  a {
    outline: 0;
    padding: 10px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;

    &:hover {
      color: rgb(10, 19, 37);
      text-decoration: none;
    }
  }
}

.results-view-icon-wrapper {
  position: relative;
}

.results-view-loading {
  margin-top: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes move-left {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(2px);
  }
}

ex-view-panel.ng-enter {
  transition: .3s;
  opacity: 0;
}
ex-view-panel.ng-enter-active {
  opacity: 1;
}
